<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="{{android.package}}">
    <uses-sdk android:minSdkVersion="{{android.minimum_sdk_version}}" android:targetSdkVersion="{{android.target_sdk_version}}" />
    <application>
        <meta-data android:name="io.sentry.dsn" android:value="{{sentry.dsn}}" />
        <meta-data android:name="io.sentry.anr.enable" android:value="{{sentry.anr}}"/>
        <meta-data android:name="io.sentry.anr.timeout-interval-mills" android:value="{{sentry.anr_timeout}}" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="{{sentry.sample_rate}}" />
    </application>
</manifest>